/*#heading{
    background-color: #7E0ECE;
}*/

.main_section {
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: white;
}

.img-fluid {
    width: 100%;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.carousel-caption {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}